body{
    background-color: white;
    
}
Label{
    font-size: 25px;
    }

input{
    width: auto;
}

h1{
    display: block;
    text-align: center;
}

div{
    margin: 20px;
    position: relative;
    background-color: white;
    }

    p{
    text-align: center;
    }

input [type=range]{
    width : 100%; 

}
form{
     margin: auto;
    position: relative;
    padding: 5px;
    background-color: white;
    width: 400px;
    border-radius: 15px;
}

.slides{
width : 250px;
}

input [type=button]{
box-sizing: 35px;
font-size: 25px;
width: 55px;
border-radius: 10px;

}

